.banner{background-image: url('./img/bg\ img1.jpg');
    width: 100%; background-repeat:no-repeat;background-size: 100%; height: 800px;}
    .banner2{background-image: url('./img/order\ images.jpg'); 
        width: 100%; background-repeat:no-repeat;background-size: 100%;}